<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <system.webServer>
    <handlers>
      <!-- These handlers are required so the Webpack HTTP module can capture these requests. An alternative would be to use
           system.webServer/modules@runManagedModulesForAllRequests but you might not want to use that for your project
           
           By mapping these paths to the built-in StaticFileHandler we force that managed modules are run for these requests.
       -->
      <add name="WebpackDevJsonHandleModule" verb="*" path="*.json" type="System.Web.StaticFileHandler"/>
      <add name="WebpackDevJsHandleModule" verb="*" path="*.js" type="System.Web.StaticFileHandler"/>
      <add name="WebpackDevHmrHandleModule" verb="*" path="__webpack_hmr" type="System.Web.StaticFileHandler"/>
      <add name="WebpackDevBuildHandleModule" verb="*" path="build/*" type="System.Web.StaticFileHandler"/>
    </handlers>
  </system.webServer>
  <location path="__webpack_hmr">
    <system.web>
      <httpRuntime executionTimeout="3600" enableKernelOutputCache="false"/>
    </system.web>
    <system.webServer>
      <urlCompression doDynamicCompression="false" doStaticCompression="false"/>
      <httpProtocol allowKeepAlive="true"/>
    </system.webServer>
  </location>
</configuration>
